@model LuckySpin.Models.Player
@inject LuckySpin.Models.TextTransformService Transform
@{
    Layout = "_Layout";
}
<button onclick='history.go(0)'>Spin</button>
<div>@ViewBag.A</div><div>@ViewBag.B</div><div>@ViewBag.C</div>
<h1> Lucky @Transform.numberToText(Model.Luck) </h1>
<h2 style="display:@ViewBag.Display">@Model.Name, You Win!</h2>
<img src="/Images/LuckySpinCoins.jpg" class="animated bounce" alt="Coins" style="display:@ViewBag.Display" />