@model LuckySpin.Models.Spin
<!-- TODO: Change this to the ViewModel-->
@inject LuckySpin.Models.TextTransformService Transform
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<button onclick='history.go(0)'>Spin</button>
<div>@Model.A</div><div>@Model.B</div><div>@Model.C</div>
<h1> Lucky @Transform.numberToText(Model.Luck) </h1>
<div style="width: 210px;font-size: 1.2em;">
    <a asp-action="LuckList" style="color: black;">Current Balance</a>:
    <span style="font-weight: bolder;color: #811;">$11.50</span>
</div>
<h2 style="display:@ViewBag.Display">@ViewBag.FirstName, You Win!</h2>
<img src="/Images/LuckySpinCoins.jpg" class="animated bounce" alt="Coins" style="display:@ViewBag.Display" />