@model LuckySpin.Models.Spin
@inject LuckySpin.Models.TextTransformService Transform
@{
    Layout = "_Layout";
}
<button onclick='history.go(0)'>Spin</button>
<div>@Model.A</div><div>@Model.B</div><div>@Model.C</div>
<h1> Lucky @Transform.numberToText(Model.Luck) </h1>
<h2 style="display:@ViewBag.Display">@ViewBag.FirstName, You Win!</h2>
<img src="/Images/LuckySpinCoins.jpg" class="animated bounce" alt="Coins" style="display:@ViewBag.Display" />
<!-- Add a link to Review the Spins -->
@Html.ActionLink("see your Luck List","LuckList")